header.header
    .header__wrapper
        .header__column
            i.fas.fa-bars
            a(href=routes.home)
                img.header__logo(src='/resources/icon_small.png')
                span KR
        .header__column
            form(action=routes.search, method="get")
                input(type="text" placeholder="Search by term..", name ="term")
                button(type="submit")
                    i.fas.fa-search
        .header__column
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.join) 
                            i.fas.fa-user-plus
                            span Join
                    li
                        a(href=routes.login) 
                            i.fas.fa-sign-in-alt
                            span LogIn
                else
                    li
                        a(href=routes.videos+routes.upload)
                            i.fas.fa-video
                            span Upload
                    li
                        a(href=routes.userDetail(user.id))
                            i.fas.fa-user
                            span Profile
                    li
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt
                            span Logout
