extends layouts/main

block content
    .form__container
        .heaer__title   
            img.form__avater-badge(src=user.avatarUrl)
            span Change Password
        form(action=routes.changePassword(user.id) method="post")
            label(for="password") Current Password
            input(type="password" name="password" placeholder="Write here.." required=true)
            label(for="newPassword") New Password
            input(type="password" name="newPassword" placeholder="Write here.." required=true)
            label(for="confirmPassword") Confirm Password
            input(type="password" name="confirmPassword" placeholder="Write here.." required=true)
            input(type="submit" value="Change Password")