extends layouts/main

block content
    .form__container
        .heaer__title   
            img.form__avater-badge(src=user.avatarUrl)
            span Edit Profile
        form(action=routes.editProfile(user.id) method="post" enctype="multipart/form-data")
            label(for="name") Name
            input(type="text" name="name" placeholder="Write here.." value=user.name required=true)
            label(for="email") Email
            input(type="text" name="email" placeholder="Write here.." value=user.email required=true)
            label(for="avatarFile") Avatar
            input(type="file" name="avatarFile" id="avartarFile" accept="image/*")
            input(type="submit" value="Update Profile")