extends layouts/main
include mixins/thumbnailBlock

block content
    .user-profile__container
        .user-profile__title
            i.fas.fa-id-badge
            span #{user.name}`s Profile
        .user-profile__card    
            .user-profile__info-container
                img.user-profile__avatar(src=user.avatarUrl)
                .user-profile__info
                    span.user-profile__tag Name 
                    span.user-profile__name #{user.name}
                    .user-profile__ids
                        span.user-profile__tag Github : 
                        span.user-profile__id @#{user.githubId}
                    .user-profile__ids
                        span.user-profile__tag Kako : 
                        span.user-profile__id @#{user.kakaoId}
                    .user-profile__ids
                        span.user-profile__tag Email : 
                        span.user-profile__id #{user.email}
            if loggedUser && user.id === loggedUser.id
                .user-profile-btns
                    a(href=routes.editProfile(user.id))
                        .user-profile__change-avatar.btn.btn--color Edit Profile
                    a(href=routes.changePassword(user.id))
                        .user-profile__edit-profile.btn.btn--outline Change Password
        .user-videos
            .user-video__item
                if user.videos.length > 0
                    .user-video__title
                        h2 #{user.name}님께서 업로드한 영상
                .user-video__list
                    each item in user.videos
                        +thumbnailBlock({
                            id: item.id,
                            title: item.title,
                            views: item.views,
                            videoFile: item.videoFileUrl,
                            posterFile: item.posterFileUrl,
                        })


