extends layouts/main
include mixins/videoPlayer

block content
    .main
        .video__container
            +videoPlayer({
                videoFileUrl:video.videoFileUrl,
                posterFileUrl: video.posterFileUrl
            })
            //- .video__player
            //-     video(controls=true width="800px" poster=video.posterFile autoplay)
            //-         source(src=`/${video.videoFileUrl}` type="video/mp4")
            .video__header
                h5.video__title=video.title
                .video__seperator
                //- if (loggedUser && video.creator)
                .video__author
                    img.video__author-avatar(src=video.creator.avatarUrl)
                    span.video__author-name
                        a(href=routes.userDetail(video.creator.id))=video.creator.name
                    if (loggedUser && video.creator) && video.creator.id === loggedUser.id
                        a.video__edit-btn.btn.btn--outline(href=routes.editVideo(video.id)) Edit Video
                .video__info
                    span.video__views=`조회수 ${video.views}회　2020. 11. 10.　`
                .video__seperator
                    pre.video__description=video.description
        .comment__container
            .video__comments
                if video.comments.length <= 1
                    span.video__comment-number  동영상 댓글 0
                else
                    span.video__comment-number  동영상 댓글 #{video.comments.length}
            form.comment__form(action="#" method="post")
                input.comment__input(type="text")
                input.comment__submit.btn.btn--color(type="submit" value="Enter")




