extends layouts/main

block content
    .form__container
        img.header__logo(src='/build/resources/icon_big.png')
        .heaer__title
            i.fas.fa-user-plus
            span Create a new account
        form(action=routes.join, method="post")
            label(for="name") Name
            input(type="text" name="name" placeholder="White here.." required=true)
            label(for="email") Email
            input(type="email" name="email" placeholder="White here.." required=true)
            label(for="tipasswordtle") Password
            input(type="password" name="password" placeholder="White here.." required=true)
            label(for="password2") Corfirm Password
            input(type="password" name="password2" placeholder="White here.." required=true)
            input(type="submit" value="Join now")
        include partials/socialLogin
